# Required Build Tool
wheel
# Required Build Tool
cmake
# Pycrate lib
pycrate
# Util Lib From Main Branch
# git+https://github.com/impratikjaiswal/pythonHelpers
# Util Lib From Specific Tag
git+https://github.com/impratikjaiswal/pythonHelpers@v1.2.0
