{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} About Us {% endblock %}</h1>
<BR>
Follow us on:
<ul>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/impratikjaiswal" target="_blank"
           rel="noopener noreferrer">Github</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/impratikjaiswal" target="_blank"
           rel="noopener noreferrer">Linkedin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://stackoverflow.com/users/5073483/impratik" target="_blank"
           rel="noopener noreferrer">Stackoverflow</a>
    </li>
</ul>
{% endblock %}
