{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    <h2>Span on Text of anchor</h2>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-pill">@Github</span>
    </a>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-primary">@Github</span>
    </a>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-secondary">@Github</span>
    </a>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-success">@Github</span>
    </a>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-info">@Github</span>
    </a>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-warning">@Github</span>
    </a>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-danger">@Github</span>
    </a>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-light">@Github</span>
    </a>
    <a href="https://github.com/impratikjaiswal">
        <span class="badge badge-dark">@Github</span>
    </a>
    <h2>Span on anchor</h2>
    <span class="badge badge-pill"><a href="https://github.com/impratikjaiswal">@Github</a></span>
    <span class="badge badge-primary"><a href="https://github.com/impratikjaiswal">@Github</a></span>
    <span class="badge badge-secondary"><a href="https://github.com/impratikjaiswal">@Github</a></span>
    <span class="badge badge-success"><a href="https://github.com/impratikjaiswal">@Github</a></span>
    <span class="badge badge-info"><a href="https://github.com/impratikjaiswal">@Github</a></span>
    <span class="badge badge-warning"><a href="https://github.com/impratikjaiswal">@Github</a></span>
    <span class="badge badge-danger"><a href="https://github.com/impratikjaiswal">@Github</a></span>
    <span class="badge badge-light"><a href="https://github.com/impratikjaiswal">@Github</a></span>
    <span class="badge badge-dark"><a href="https://github.com/impratikjaiswal">@Github</a></span>
{% endblock %}